body {
  background: url(../img/street.jpg) no-repeat center center fixed;
	background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

.intro {
  padding: 25%;
  text-align: center;
  background: linear-gradient(white, black);
  opacity: 0.6;
  overflow: none;
  height:100%;
  width:100%;
}

.intro-text {
  font-family: monospace, sans-serif;
  font-size: 75px;
  color: black;
}

.intro img {
  padding-top: 20%;
}

.center {
  margin: 0;
  background-color: white;
  opacity: 1;
  height:100%;
  width:100%;
  overflow: none;
  height:100%;
  width:100%;
}

.text-layout {
  padding: 0px;
}

.content-text {
  text-align: center;
  font-family: sans-serif, monospace;
  font-size: 25px;
  text-indent: 2em;
  margin-left: 20%;
  padding: 20px 10px 10px 30px;
}

.header-text {
  margin-left: 20%;
  text-align: center;
  font-family: "Rajdhani", Helvetica, sans-serif;
  font-size: 70px;
  padding-bottom: 5px;
}

.self-pic {
  margin-top: 20px;
  width: 500px;
  height: auto;
/*  box-shadow: 15px 15px 20px #262626; */
}

.cont-photo {
  margin: 0;
  padding: 1%;
}

.newbox {
  margin: 0;
  padding: 2% 10% 8% 10%;
}

.skill-text {
  text-align: left;
  color: white;
  font-family: "Rajdhani", Helvetica, sans-serif;
  font-size: 30px;
}

.icon {
  padding: 1% 1.5%;
}

.nav {
  padding: 0 0 5% 10%;
}
.nav ul {
  padding: 1% 3%;
  list-style-type: none;
}

.nav li {
  padding: 1% 2%;
  float: left;
  border-bottom: 4px solid #d9d9d9;
}

.nav li a {
  font-family: "Rajdhani", Helvetica, sans-serif;
  font-size: 3em;
  color: #b3b3b3;
}

.nav li.active-bt {
  border-bottom: 4px solid #F76363;
}

a:hover, a:visited, a:link, a:link:active, a:visited:active {
  text-decoration: none;
}

.nav li a.active {
  color: #F76363;
}

.no-display {
  display: none;
}

.bottom-ft {
  background: black;
  opacity: 0.9;
}

.foot-h-text {
  font-size: 70px;
  color: white;
  text-align: center;
  font-family: serif;
  padding: 2%;
}

.icon-arr {
  padding: 1% 3%;
}

#about hr {
  margin-left: 35%;
  width: 50%;
}

#contact hr {
  width: 75%;
}

.img-icon {
  width: 70%;
  height: auto;
}

.con-box {
    margin: 5% 15%;
    padding: 2%;
}

span {
  color: #b3fff0;
  font-size: 80px;
}

footer p {
  text-align: center;
  font-size: 1.5em;
}

#skills {
  padding-left: 20%;
  padding-right: 20%;
  background-color: black;
  position: relative;
  overflow: hidden;
}

#skills .header-text {
  margin-left: 0;
  padding: 1% 0;
  color: #b3ffb3;
  position: relative;
  z-index: 2;
}

#skills img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.k-title-text {
  padding: 1% 1.5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  color: #b3ffb3;
}

.proj-name {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}

#proj h1 {
  padding-right: 18%;
}

#proj p {
  font-size: 1.5em;
  font-family: "Rajdhani", Helvetica, sans-serif;
  text-indent: 2em;
}

#proj {
  margin-left: 8%;
}

#proj hr {
  margin-left: 13%;
}

.proj-box {
  padding: 2% 1% 0.5% 1%;
}

#vertical, #vertical li, #verti ul {
  padding: 0;
  margin: 0;
}

#vertical {
  margin-left: 1%;
  margin-top: 10%;
  margin-right: 89%;
}

#vertical li {
  float: none;
}

@media(max-width: 1200px) {

}

@media(max-width: 990px) and (min-width: 768px){
  .self-pic {
    margin-top: 80px;
    width: 450px;
  }
  .content-text {
    padding: 0;
  }
  #about {
    padding: 2% 5% 8% 5%;
  }
  #vertical li a {
    font-size: 2.5em;
  }
  #vertical {
    margin-right: 88%;
  }
}

@media(max-width: 768px){
  .self-pic {
    width: 500px;
  }
  .header-text, .content-text {
    margin-left: 0;
  }
  #about hr {
    margin-left: 0;
    width:100%;
  }
  .nav {
    padding: 0 2% 5% 2%;
  }
  .nav li a {
    font-size: 2.6em;
  }
  #vertical {
    display: none;
  }
}

@media(max-width: 550px) {
  .self-pic {
    width: 400px;
  }
  .header-text, .content-text {
    margin-left: 0;
    padding: 0;
  }
  #about hr {
    margin-left: 0;
    width:100%;
  }
  .nav {
    display: none;
  }
}
